.home-page {
  .page-content {
    width: 1000px;
    margin: 0 auto;
  }
  h2 {
    font-size: 18px;
    margin: 20px 0;
  }

}

.collection-list {
  display: flex;
  flex-wrap: wrap;
}

.collection-link {
  display: block;
  width: 150px;
  height: 120px;
  margin: 10px;
  text-align: center;
  color: #333;
}