.video-player {
  height: 100%;
  header {
    height: 50px;
    background: #f7f7f7;
  }

  .return-btn {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    float: left;
    padding: 0 16px;
  }
  .return-btn:hover {
    background: #e1e1e1;
  }
  .return-icon {
    color: #333;
    font-size: 14px;
    margin-right: 8px;
  }
  
  .homepage-text {
    font-size: 16px;
  }
  
  .collection-name {
    color: #555;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 40px;
    span {
      border-left: 4px solid #888;
      padding-left: 8px;
    }
  }

  .container {
    display: flex;
    height: calc(100% - 50px);
  }

  .sidebar-container {
    flex: 0 0 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #e7e7e7;
  }

  .is-playing {
    text-align: center;
    padding: 20px 0;
  }

  .nav-list {
    // height: calc(100% - 120px);
    padding: 0 16px;
    overflow-y: auto;
  }

  .chapter-title {
    font-size: 14px;
    color: #000;
    font-weight: bold;
  }

  .list-item {
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
  }

  .actived {
    color: #1890ff;
  }

  .list-item:hover {
    color: #1890ff;
  }

  .player-icon {
    margin-right: 4px;
  }

  .content-container {
    text-align: center;
    flex: 1;
    margin-top: 20px;
  }

  .rate-control {

  }
}